.formContainer {  
  padding: 4rem;
  width: 70%;
  color: var(--bg-color-secondary);
}

.form h1 {  
  margin-bottom: 1rem;
}

.emailAlert{
  display: block;
  color: var(--color-main);
  font-size: 0.825rem;
  margin-bottom: 1rem;
}

.form button {
  margin-right: 1rem;
}


