.formContainer {  
  padding: 4rem;
  width: 70%;
  color: var(--bg-color-secondary);
}

.form h1 {  
  margin-bottom: 1rem;
}

.emailAlert{
  display: block;
  font-size: 0.825rem;
  margin-bottom: 1rem;
}


