.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--bg-color-secondary);
}

.form{
  margin: 3rem 0;
  width: 50%;
  border: 3px solid #343736;
  border-radius: 4px;
  padding: 2rem 2rem;
}

.form h1 {  
  line-height: 1;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.lost{
  display: block;
  text-align: right;  
  padding: 0.5rem 0;
  line-height: 1;
}
