.content {
  background: var(--bg-color-secondary);
  border-radius: 10px;  
}

.titleContainer {
  padding: 1rem;
  border-bottom: 1px solid var(--bg-color-card);
}

.contentContainer {
  padding: 1rem;
  border: 2px solid var(--bg-color-card);
  border-radius: 5px;
  margin: 1rem;
}