.sideMenu {
  padding: 0rem 1rem 0 1rem;
  display: flex;  
  flex-direction: column;
  margin-bottom: 1rem;  
}

.logo {
  display: block;
  font-size: 1.5rem;  
  margin-bottom: 1rem;
  color: var(--bg-color-secondary);
  text-align: center;  
}

.searchBar{    
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
  background: var(--bg-color-secondary);
  padding: 0.5rem;
  border-radius: 5px;
}

.searchBar svg {
  fill: var(--bg-color-main);
}

.searchBar input {  
  border: none;
  outline: none;
  background: var(--bg-color-secondary);
  border-radius: 5px;
  font-size: 0.875rem;
  height: 2.5rem;
  padding: 0.5rem;
  width: 100%;
}

.addButton{  
  align-items: center;
  background-color: #008BFE;
  border-radius: 0.4rem;
  display: flex;
  gap: 6px;
  justify-content: center;
  padding: 1rem 0.5rem;
  color: var(--bg-color-secondary);
  margin-bottom: 1rem;

}

.rulingsList {
  font-size: 0.875rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;  
  gap: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 400px;
}

.rulingsList::-webkit-scrollbar {
  width: 10px;
  background: var(--bg-color-main);
  
}

.rulingsList::-webkit-scrollbar-thumb {
  background: var(--color-main);
  border-radius: 3px; 
}

.rulingsList::-webkit-scrollbar-track {
  background:var(--bg-color-main);
}

.rulingsList li {
  align-items: center;
  border: 2px solid transparent;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 1rem 1rem;
}

.rulingsList a {
  color: var(--bg-color-secondary);  

}

.rulingsList li:is(:hover, :focus) {
  border: 2px solid var(--bg-selected-main);
  border-radius: 5px;
}

.rulingsList li:global(.active){
  background-color: var(--bg-selected-main);
  border-radius: 5px;
}

.rulingsList li::before {
  border-radius: 50%;  
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  background-color: #48F98A;
  flex-shrink: 0;
}